.app{
    margin: 4px;
    padding :4px;
    font-family: sans-serif;
}
.btn{
    padding: 8px;
    margin: 0 24px;
    border: 1px solid gray;
    font-size: 20px;
    border-radius: 8px;
    min-width: 120px;
    cursor: pointer;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
}
.company_logo{
    width: 92px;
    border-radius: 50%;
}
.company_name{
   margin-left: 4px;
   font-size: 24px;
   color: #cf5b47;
   font-weight: 600;
}
.userIcon{
    cursor: pointer;
    margin-right: 4px;

}
.search_bar{
    margin: 16px;
    text-align: center;
}
.search_input{
    margin-left: -28px;
    width: 464px;
    height: 48px;
    padding: 2px 16px;
    font-size: 20px;
    border-radius: 8px;
    border: 1px solid grey;
}
.restaurant_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 16px 0;
}

.restaurant_card{
    width: 270px;
    margin: 0 4px 24px 0px;
    border-radius: 16px;
    background-color: #f0f0f0;
    -webkit-transition: all 0.5s ease; 
    -moz-transition: all 0.5s ease; 
    -o-transition: all 0.5s ease; 
    -ms-transition: all 0.5s ease; 
    transition: all 0.5s ease; 
}
.restaurant_card :hover {
    cursor: pointer;
   transform: scale(1.01);
  
  }
.restaurant_img{
    width: 100%;
    height:220px;
    border-radius: 16px 16px 0px 0px;
}
.restaurant_card_text{
   padding: 2px 8px; 
}
.restaurant_card_name{
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 4px;
}
.restaurant_card_cuisines{
    color: #535665;
    font-size: 16px;
    margin: 4px 0;
}
.restaurant_card_footer{
    color: #535665;
    font-size: 14px;
    padding: 4px 1px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}
.restaurant_card_footer>div{
    margin-right:16px;
}
.navItems{
    display: flex;
    justify-content: space-between;
}
.navItems >li{
    padding:0 8px;
    list-style-type: none;
}

.body-shimmer-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 16px 0;
}

.body-shimmer-container> .res-shimmer{
    background-color: #f0f0f0;
    width: 100%;
    height:320px;
    width: 270px;
    margin: 0 4px 24px 0px;
    border-radius: 16px;
}
.body-shimmer-container> .res-shimmer > img{
    width: 100%;
    height:220px;
    border-radius: 16px 16px 0px 0px;
    background: #bbb;
}
.body-shimmer-container> .res-shimmer > .restaurant_details{
    display: ruby-text;;
}
.body-shimmer-container> .res-shimmer >.restaurant_details> div{
    width: 72%;
    height: 20px;
    background: #bbb;
    margin: 3px 2px;
    border-radius: 5px;
}